<head>
<title>Piplelining </title>
</head>
<body>
<h1> Piplelining Example  </h1>
<p> Data Passed : {{.}} </p>
<p> Double : {{.|fdouble}} </p>
<p> Cube : {{.|fcube}} </p>
<p> CubeSqrt : {{.|fcqrt}} </p>
</body>
