<head>
<title>Time Date Formating </title>
</head>
<body>
<h1> Time Formating </h1>
<p> passed Date : {{.}} </p>
<p> formatted Date style 1 : {{formatDate .}}
<p> format Date using Pipeling and style 2 : {{.|fmtdate}}
</body>