<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Like Button</title>
</head>
<body>

<strong>Hit the Like button</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/contact">contact</a><br>
<a href="/like">like</a><br>
<form method="POST" action="/like">
    <input type="submit" value="Like">
</form>

</body>
</html>