<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Pictures of dogs:</h1>
<img src="/pics/origami.jpeg">
<img src="/pics/origami1.jpeg">
<img src="/pics/origami2.jpeg">

</body>
</html>