<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is ABOUT page</title>
</head>
<body>

<strong>ABOUT</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/contact">contact</a><br>
<a href="/like">like</a><br>

</body>
</html>